
body {
  background-color: white;
  margin: 0;
  padding: 0;
}
/*background-color:#154360;*/
segalmex .body{
  background-color:'black';
  margin: 0;
  padding: 0;

}

style_cell = {
  'font_family': 'cursive',
  'font_size': '26px',
  'text_align': 'center'
},



segalmex .div-main-filters{
 border: 2px solid #F4F6F6;
}